@media (max-width: 1024px) {
    #benefitsContainer h2{
        text-align: center;
        padding: 1rem 2rem 0;
        font-size: var(--secHeaderSize);
    }
  #benefitsList {
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }

  .benefit {
    width: 40%;
  }
}

@media (max-width: 768px) {
  #benefitsContainer {
    padding: 50px 30px;
  }

  #benefitsList {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .benefit {
    width: 100%;
    max-width: 300px;
  }

  .benefit img {
    width: 100px;
  }
}
